# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Docker
*.sqlite3

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/


# Coverage
coverage/
htmlcov/# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# OS files
.DS_Store